@charset "utf-8";
* {margin: 0px;padding: 0px;}

.page-header {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 1px solid #c1c1c1;
}

.flex-center {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    -webkit-align-items: center; /* Safari 7.0+ */
    justify-content: center;
    -webkit-justify-content: center; /* Safari 6.1+ */
}

#toDec {
    display: none;
}
